body {
  background-color: antiquewhite;
  font-size: 25px;
  font-family: "Gemunu Libre", sans-serif;
}
.header {
  color: white;
  text-align: center;
  background-color: black;
}
.background {
  background-image: url(GTR.jpg);
  color: white;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
.h2 {
  font-size: 50px;
  text-align: center;
}
