body {
  background-color: rgb(250, 235, 215);
  font-size: 25px;
  font-family: "Gemunu Libre", sans-serif;
}
.header {
  color: white;
  text-align: center;
  background-color: black;
  width: 500px;
  position: relative;
  top: 7.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0%;
}
.background {
  background-image: url(GTR.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center;
}
.h2 {
  font-size: 40px;
  text-align: center;
  border: 5px solid black;
  width: 30vw;
  height: 30vh;
  background-image: url(divo1.jpg);
  background-size: cover;
  color: white;
}
.h3 {
  font-size: 40px;
  text-align: center;
  border: 5px solid black;
  width: 30vw;
  height: 30vh;
  top: 51%;
  left: 33%;
  background-image: url(sc201.jpg);
  background-size: contain;
  color: white;
}
#speedtail {
  font-size: 40px;
  text-align: center;
  border: 5px solid black;
  width: 30vw;
  height: 30vh;
  top: 51%;
  left: 66%;
  background-image: url(speedtail.jpg);
  background-size: cover;
  color: white;
}
.boxes div {
  width: 30vw;
  position: relative;
  left: 33%;
}
